
<div class="card mb-6">
  <header class="card-header card-header-title" style="background-color:#1F1542">
    
        <div class="column">
            <p class=" has-text-primary-light"></p>
      <a href="/post/{{id}}"  class="has-text-white is-capitalized is-pulled-left">{{title}} </a></p>
      </div>

      
      <div class="column">
      <span class=""> </span>
      </div>
    
  </header>

    <div class="card-content">
        <div class="content" style="font-size: 12px;">
            {{post_content}}
        </div>
            <div class="center">
                <b>{{user.username}}</b> | 
                <a href="https://twitter.com/{{user.twitter}}"><i class="fab fa-twitter"></i></a> 
                <a href="https://github.com/{{user.github}}"><i class="fab fa-github"></i></a>
                 | {{format_date created_at}} | <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
            </div>
        
    </div>
